<section class="container m-6">
    <div class="tag">{{format_date post.created_at}} by {{post.user.username}}</div>
    <h1 class="title">{{post.title}}</h1>
    <div class="content">
        <p>{{post.body}}</p>
    </div>
</section>
<section class="container">
    <h3 class="subtitle">Comments</h3>
    {{#if loggedIn}}<div class="content">
        <textarea class="textarea" name="comment-body" placeholder="Enter your comment..."></textarea>
        <button class="my-1 button is-success" id="comment-submit-btn">Submit</button>
    </div>
    {{else}}
        <a href="/login" class="button is-link content is-medium">Sign Up or Login to Comment on Posts</a>
    {{/if}}
    {{>comments post.comments}}
</section>
<script src="/javascript/comment.js"></script>